@charset "UTF-8";
/* CSS Document */


.box-color {
	color: #fff;
	background: #000;
	text-align: center;
	margin: 0;
}

/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	


h1, h2 {
	font-family: 
	'Yeseva One', cursive;
}

h3, h4 {font-family: 'Alice', serif;
}

p {font-family: 'Prata', serif;
}

li, input, a {font-family: 'Bebas Neue', cursive;
}


img { 
	border: none; 
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}


a {
	color: inherit;
	text-decoration: none;
}


.hidden {
	display: none;
}


/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 428px.
428px would fit some phones. Sizes will vary depending on the projects
you work on and the intended audience, we may go as low as 320px */

#container {
	margin: 0 auto;
	width: 428px;
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(4, 85px);
	grid-column-gap: 16px;
	padding-left: 20px;
	padding-right: 20px;
}


.banner-text {
	grid-column: 1/5;
	text-align: left;
	line-height: 32pt;
	padding: 30px 20px 0px 20px;
}
.banner-text h2 {
	font-family: 'Yeseva One', cursive;
	font-size: 45px;
	line-height: 53px;
	margin-top: 0;
	padding-bottom: 10px;
}
.banner-text p {
	font-family: 'Prata', serif;
	font-size: 25px;
	line-height: 18px;
	display: inline;
	padding-top: 0;
}

.banner-btn {
	background: #000;
	color: white;
	font-size: 25px;
	padding: 25px 0px 25px 30px;
	margin-left: 20px;
	margin-bottom: 50px;
	grid-column: 1/2;
	display: inline;
	text-align: left;
	width: 120px;
	height: 30px;
}


label { 
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	color: rgb(87, 87, 87);
	
}


input[type=submit] {
	cursor: pointer;
	padding: 0;
}

/* header */

#header-con {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header-logo {
	grid-column: 1/3;
}

#mobile-nav {
	grid-column: 4/-1;
}

.burger {
	height: 16px;
	background-color:#b4b4b3;
	display: block;
	margin-bottom: 10px;
}

/* index page */

/* hero */
#hero-con {
	background-color: #aaaaaa;
	background: url(../images/main-mobile/main-hero_img_mobile.jpg);
	height: 458px;
}

#hero-con h2 {
	font-family: 'Prata', serif;
	font-size: 20px;
	line-height: 15px;
	letter-spacing: 5px;
}

#hero-con p {
	font-size: 20px;
}


/* products */


.section-h2 {
	text-align: center;
	font-size: 30px;
	font-family: 'Alice', serif;
	font-weight: lighter;
	margin-bottom: 10px;
	background-color: #ffffff;
}
#slider-con {
	position: relative;
	height: 678px;
	background-image: url(../images/main-mobile/category_img_mobile.jpg);
}

#click {
	background: rgba(255, 255, 255, 0);
	width: 428px;
	height: 278px;	
	position: absolute;
	padding-top: 400px;
	font-family: 'Alice', serif; 
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	z-index: 6;
	color: #fff;
}

#mobile-slider-left {
	position: relative;
	font-size: 100px;
	color: black;
	top: 250px;
	z-index: 10;
	transition: .5s ease;
	cursor: pointer;
}

#mobile-slider-right {
	position: relative;
	left: 320px;
	font-size: 100px;
	color: black;
	top: 250px;
	z-index: 10;
	transition: .5s ease;
	cursor: pointer;
	padding-left: 20px;
	padding-right: 10px;

}

#mobile-slider-left:hover, #mobile-slider-right:hover {
	background: rgba(255, 255, 255, 0.521);
	padding-top: 300px;
	padding-bottom: 300px;
}
.bumper {
	background-color: #ebebe961;
	position: relative;
	opacity: 0;
	transition: .5s ease;
	height: 678px;
	bottom: 133px;
	text-align: center;
	z-index: 5;
}

#click-close {
	position: relative;
	color: white;
	font-size: 30px;
	top: 30px;
}

#slider-con h4 {
	background-color: white;
	position: relative;
	top: 320px;
	font-size: 30px;
}
#slider-con p {
	position: relative;
	background-color: #ebebe9b6;
	margin-top: 400px;
	font-size: 25px;
	z-index: 5;
}
.bumper:target {
	opacity: 1;
	z-index: 7;
}

/* about */

#about-us-con {
	margin-top: 40px;
	margin-bottom: 10px;
}

.image-box {
	width: fit-content;
	height: fit-content;
	background: #aaa;
}

.image-bumper {
	background-color: #ebebe9;
	/* position: relative; */
	height: fit-content;
}

.image-box p {
	grid-column: 1/-1;
	font-size: 25px;
	padding-left: 20px;
	padding-bottom: 30px;
	margin-top: 25px;
	text-align: center;
}


/* contact */
#contact-us-con {
	margin-bottom: 60px;
}

#contact-text {
	margin-bottom: 20px;
}
#contact-text h2 {
	font-size: 30px;
}
#contact-text {
	text-align: center;
}

#form-con {
	background-color: white;
	height: fit-content;
}

#contact-form {
	grid-column: 1/-1;
}

input, textarea {
	width: 365px;
	height: 45px;
	margin: 43px 40px 0px 0px;
	border: #aaaaaa;
	background-color: #ebebe9;
	font-size: 25px;
	padding-left: 20px;
}

#form-fn {
	margin-top: 87px;
}

#contact-form label {
	position: relative;
	top: 35px;
}

#form-mb {
	height: 200px;
	color: rgb(87, 87, 87);
}

#contact-form input:last-child {
	width: 150px;
	margin-top: 40px;
	margin-bottom: 50px;
	color: rgb(87, 87, 87);
}

/*Common page elements  */

#footer-con {
	height: fit-content;
	background-color: #b4b4b3;
}

#footer-newsletter {
	/* margin-left: 50px; */
	font-family: 'Alice', serif;
	font-size: 35px;
	position: relative;
	top: 40px;
}

#footer-email {
	grid-column: 1/-1 ;
	display: inline-block;
	border-bottom: #000 solid 3px;
}

#footer-nl-box {
	margin-right: 6px;
	margin-top: 60px;
	width: 250px;
}

#footer-email-submit {
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	width: 106px;
}


#footer-logo {
	margin: 20px;
	width: 120px;
	height: 125px;
	grid-column: 2/4;
}


#footer-social {
	display: inline-block;
	list-style-type: none;
	grid-column: 2/4;
	margin-block-start: 0;
    margin-block-end: 0;
	padding-inline-start: 0;

}

.footer-social {
	margin: 5px;
}

#footer-copy  {
	font-family:'Bebas Neue', cursive;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: center;
	margin-top: 20px;
}

/* gallery page */

#hero-gallery-con {
	background-color: #aaaaaa;
	background: url(../images/gallery-desk-assets/hero.jpg);
	background-size: contain;
	height: 458px;
	cursor: pointer;
}

#hero-gallery-text {
	background-color: rgba(255, 255, 255, 0.8);
	grid-column: 1/-1;
	height: 350px;
	margin-top: 20px;
}
#hero-gallery-text h2 {
	font-size: 35px;
}

#hero-gallery-text p {
	font-weight: bolder;
}

#gallery-controls {
	grid-column: 1/-1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
}

.dot {
	background-color: #dddddd;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	margin: 5px;
  }

#gallery h2 {
	text-align: center;
	grid-column: 1/-1;
	margin-top: 40px;
	margin-bottom: 40px;
}

#gallery-box {
	grid-column: 1/-1;
	background-color: #ebebe9;
	/* Remove as content will dictate height */
	height: fit-content;
	margin-bottom: 20px;
}

#gallery-text h4 {
	font-size: 35px;
	text-align: center;
}