@charset "UTF-8";
/* CSS Document */

/*Remove this rule on your HTML elements as you start to fill them with content*/

.box-color {
	color: #fff;
	background: #000;
	text-align: center;
	margin: 0;
}

/*basic reset*/

/*browsers have built in values for elements so we'll reset a few things to zero, you can add to this or remove items as needed*/

div,p,body,header,footer,section,article,nav { 
	margin: 0; 
	padding: 0; 
}	

h1, h2 {
	font-family: 
	'Yeseva One', cursive;
}

h3, h4 {font-family: 'Alice', serif;
}

p {font-family: 'Prata', serif;
}

li, input, a {font-family: 'Bebas Neue', cursive;
}

.banner-text {
	grid-column: 1/7;
	/* Remove as content will dictate height */
	/*added*/
	text-align: left;
	line-height: 32pt;
	margin-top: 50px;
}
.banner-text h2 {
	font-family: 'Yeseva One', cursive;
	font-size: 40px;
	line-height: 63px;
	padding-bottom: 10px;
}
.banner-text p {
	font-family: 'Prata', serif;
	font-size: 25px;
	line-height: 18px;
	display: inline;
	padding-top: 0;
}


.banner-btn {
	background: #000;
	color: white;
	font-size: 25px;
	padding: 25px 0px 25px 30px;
	margin-bottom: 50px;
	grid-column: 1/2;
	display: inline;
	text-align: left;
	width: 230px;
	height: 30px;
}


label { 
	font-family: 'Bebas Neue', cursive;
	font-size: 25px;
	color: rgb(87, 87, 87);
	
}

img { 
	border: none; /*Remove border if image is a link*/
	margin: 0; 
	padding: 0; 
}

/*html selectors*/

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

/* Remove underlines from links */

a {
	color: inherit;
	text-decoration: none;
}

/*hide elements from browser but show for doc outline*/

.hidden {
	display: none;
}


/*Common page elements  */

/*This is essentially a box that we place the whole site in.  
We center the box using margin 0 auto and give it a fixed width of 1920px.
1920px would fit a large monitor or tv. Sizes will vary depending on the projects
you work on and the intended audience */

#container {
	margin: 0 auto;
	width: 1920px;
}

/* this is our grid based off of our XD file */
.grid-con {
	display: grid;
	grid-template-columns: repeat(12, 122px);
	grid-column-gap: 16px;
	padding-left: 140px;
	padding-right: 140px;
}

#header-con {
	background-color: #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
}

#logo {
	grid-column: 1/3;
	/* Remove as content will dictate height */
	height: 80px;
}

#main-nav {
	grid-column: 3/11;
	/* Remove as content will dictate height */
	height: 80px;
}
#main-nav li {
	display: inline-block;
	list-style-type: none;
	margin-left: 50px;
}

#header-box2 {
	grid-column: 11/-1;
	/* Remove as content will dictate height */
	height: 80px;
}

/* Specific to index page desktop  */

#hero {
	margin-top: 0px;
	background-image: url('https://via.placeholder.com/1920x893');
	background-color: grey;
	height: 893px;
}

 
/*#hero-image {
	grid-column: 8/-1;
	Remove as content will dictate height
	height: 582px;
}*/



#products {
	margin-top: 40px;
	margin-bottom: 10px;
}

.product-box {
	height: 678px;
}

#products h2 {
	grid-column: 1/-1;
	text-align: center;
	font-size: 45px;
	font-family: 'Alice', serif;
	font-weight: lighter;
	margin-bottom: 10px;
}

#product1 {
	grid-column: 1/5;
	/* Remove as content will dictate height */
	/* height: 507px; */
		background-image: url(https://via.placeholder.com/536x678);

}

#product2 {
	grid-column: 5/9;
	/* Remove as content will dictate height */
	/* height: 507px; */
		background-image: url(https://via.placeholder.com/536x678);

}

#product3 {
	grid-column: 9/-1;
	/* Remove as content will dictate height */
	/* height: 507px; */
		background-image: url(https://via.placeholder.com/536x678);

}

.bumper {
	background-color: rgba(255, 255, 255, 0.628);
	width: 536px;
	height: 85px;
	position: relative;
	top: 593px;
	overflow: hidden;
	transition: 0.9s ease;
}
.product_info {
	color: #000;
	width: 536px;
	height: 40px;
	position: relative;
  }

.product-box h4 {
	font-size: 30px;
	padding-left: 20px;
	padding-bottom: 30px;
	margin-top: 25px;
}
.product-box p {
	font-size: 25px;
	padding-left: 20px;
	padding-bottom: 30px;
}
.product-box:hover .bumper {
	transform: translateY(-155px);
	height: 242px;
	width: 536px;
}

/*about*/

#about {
	background-color: #ddd;
	margin-top: 60px;
}

#about-title, #contact-title {
	font-size: 35px;
}

#about-text {
	margin-top: 80px;
}

/* #about-image-span { 
	grid-column: 7/12;
	display: inline-block;
*/
#about-btn {
	position: absolute;
	top: 2430px;
}


.about-image {
	/* Remove as content will dictate height */
	background: #000;
	width: 380px;
	height: 380px;
	/* padding-bottom: 100px; */
}

/* #about-image1{
	grid-column: span 2;
	
}
#about-image2{
	grid-column: span 2;
} */
#about-image1{	
	margin-left: 50px;	
}
#about-image2{
	margin-left: 295px;
}

/* contact */

#contact {
	margin-top: 50px;
	margin-bottom: 10px;
}

#contact-text {
	margin-top: 0px;
	padding-top: 0px;

}

#contact-form {
	background-color: #ddd;
	grid-column: 7/-1;
	/* Remove as content will dictate height */
	margin: 40px 0px 50px 50px;
	height: 820px;
}

input, textarea{
	width: 673px;
	height: 45px;
	margin: 43px 40px 0px 40px;
	border: #aaaaaa;
	font-size: 25px;
	padding-left: 20px;
}

#form-fn {
	margin-top: 87px;
}


#contact-form label {
	padding-left: 40px;
	position: relative;
	top: 35px;
}


#form-mb {
	height: 200px;
	color: rgb(87, 87, 87);
}

input:last-child {
	width: 220px;
	margin-top: 40px;
	margin-bottom: 50px;
	color: rgb(87, 87, 87);
}
/*Common page elements  */

#footer-con {
	background-color: #aaaaaa;
	margin-top: 50px;
	padding-top: 50px;
	padding-bottom: 20px;
}

#footer-logo {
	grid-column: 1/3;
	/* Remove as content will dictate height */
	height: 80px;
}

#footer-nav {
	grid-column: 3/-1;
	/* Remove as content will dictate height */
	height: 80px;
	margin-bottom: 100px;
}

#footer-newsletter1 {
	grid-column: 1/5;
	/* Remove as content will dictate height */
	height: 80px;
}

#footer-newsletter2 {
	grid-column: 5/7;
	/* Remove as content will dictate height */
	height: 80px;
}

#footer-social {
	grid-column: 11/-1;
	/* Remove as content will dictate height */
	height: 80px;
}



/* gallery page */


#gallery-hero-con {
	background-color: #aaaaaa;
	background: url("https://via.placeholder.com/1920x580");
	height: 580px;
}


#gallery-hero-text {
	/* Remove as content will dictate height */
	height: 200px;
	margin-top: 100px;
}

#gallery-controls {
	margin-top: 200px;
	grid-column: 4/10;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dot {
	background-color: #dddddd;
	height: 25px;
	width: 25px;
	border-radius: 50%;
  }

#dot-middle {
	margin-left: 250px;
	margin-right: 250px;
}

#gallery h2 {
	grid-column: 1/-1;
	text-align: center;
	font-size: 45px;
	font-family: 'Alice', serif;
	font-weight: lighter;
	margin-bottom: 10px;
}

.gallery-box {
	height: 678px;
	margin-bottom: 20PX;
	cursor: pointer;
}

.gallery-col01 {
	grid-column: 1/5;
	/* Remove as content will dictate height */
	/* height: 507px; */
}

.gallery-col02 {
	grid-column: 5/9;
	/* Remove as content will dictate height */
	/* height: 507px; */
}

.gallery-col03 {
	grid-column: 9/-1;
	/* Remove as content will dictate height */
	/* height: 507px; */
}

.gallery-bumper {
	background-color: rgba(255, 255, 255, 0.628);
	width: 536px;
	height: 85px;
	position: relative;
	top: -85px;
	overflow: hidden;
	transition: 0.9s ease;
}

.gallery-box h4 {
	font-size: 30px;
	padding-left: 20px;
	padding-bottom: 30px;
	margin-top: 25px;
}
.gallery-box p {
	font-size: 25px;
	padding-left: 20px;
	padding-bottom: 30px;
}
.gallery-box:hover .gallery-bumper {
	transform: translateY(-155px);
	height: 242px;
	width: 536px;
}